<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:inline="javascript">
	function DeleteAdmin() {

		document.getElementById()
	}
</script>
<head>
<link rel="stylesheet" href="../../static/admin/css/main.css"/>
<style>
a{
		text-decoration:none;
}
</style>
<title>Insert title here</title>
</head>
<body>
<div class="main">
	<div class="main-content">
		<div class="container-fluid">
			<h3 class="page-title">所有的管理员</h3>
			<div class="row">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">管理员列表</h3>
					</div>
					<div class="panel-body">
						<table class="table">
<!-- 							<thead> -->
								<tr>
									<td width="100px">用户名</td>
									<td width="100px">电话</td>
<!-- 									<th>MaxBorrow</th> -->
									<td width="40px">编辑</td>
									<td width="40px">删除</td>
								</tr>
<!-- 							</thead> -->
							<tbody>
<!--								<LH:adminList/>-->
							<tr th:each="adminAccount:${adminAccountList}">
								<td th:width="100px" th:text="${adminAccount.adminId}"></td>
								<td th:width="100px" th:text="${adminAccount.adTel}"></td>
								<td><a th:href="@{'admin/edit/'+${adminAccount.adminId}}">编辑</a></td>
								<td><a th:href="@{'admin/delete/'+${adminAccount.adminId}}">删除</a></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>