<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
href="../templets/cloud_04/style/lib.css"></link>
<link rel="stylesheet" type="text/css"
  href="../templets/cloud_04/style/style.css"></link>
  <link rel="stylesheet" type="text/css"
    href="../templets/cloud_04/style/376.css"></link>
    <script type="text/javascript"
      src="../templets/cloud_04/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
      src="../templets/cloud_04/js/org.js" data-main="baseMain"></script>
      
	<link rel="stylesheet" href="../admin/css/main.css"></link>
<style>
body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 50px;overflow: hidden;}
</style>
</head>
<body class="nobanner">
<div th:replace="bannerAdmin.html"></div>
	<div id="sitecontent">
		<div class="npagePage Pageanli" id="mproject">
			<div class="content">
				<iframe style="border-right:1px solid rgba(255, 255, 255, .1)" th:src="left" width="183px" height="1000px" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
<!--				<iframe th:src="foodDisplay" width="82%" height="1000px" frameborder="0" scrolling="no" name="rightFrame" id="rightFrame" title="rightFrame"></iframe>-->
				<iframe th:src="foodDisplay" width="82%" height="1000px" frameborder="0" scrolling="no" name="rightFrame" id="rightFrame" title="rightFrame"></iframe>
			</div>
			</div>
		</div>
	</div>
<!--<div th:replace="footer.html"></div>-->
  
</body>
</html>