<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../static/admin/css/main.css">
	<title>left</title>
	<style type="text/css">
		a{
			text-decoration:none;
		}
	</style>
</head>
<body style="background:transparent;">
<!-- LEFT SIDEBAR -->
<br/>
<br/>
<br/>
<div id="sidebar-nav" class="sidebar" >
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a th:href="@{'index'}" target="rightFrame"><i class="lnr lnr-code"></i> <span>管理员管理</span></a></li>
				<br/>
				<li><a th:href="@{'admin/modifyPassword'}" target="rightFrame"><i class="lnr lnr-chart-bars"></i> <span>修改密码</span></a></li>
				<br/>
				<!--					<li><a th:href="@{'createForm'}" target="rightFrame"><i class="lnr lnr-chart-bars"></i> <span>注册新管理员</span></a></li>-->
				<!--					<br/>-->

			</ul>
		</nav>
	</div>
</div>
<!-- END LEFT SIDEBAR -->
</body>
</html>