<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <!--    <meta charset="utf-8"/>-->
    <!--    <title>Register Admin</title>-->
    <!--        <link href="../../admin/css/bootstrap.min.css" rel="stylesheet">-->
    <!--        <link href="../../admin/css/gloab.css" rel="stylesheet">-->
    <!--        <link href="../../admin/css/regUsr.css" rel="stylesheet">-->
    <!--    <script src="../../admin/js/jquery-1.11.1.min.js"></script>-->
    <!--    <script src="../../admin/js/register.js"></script>-->
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" type="text/css" href="/admin/css/main.css" />-->
    <title>Order Manage</title>
    <style type="text/css">
        .information {
            height: 350px;
            overflow: auto;
            text-align: center;
        }

        .information::-webkit-scrollbar {
            background-color: #b5b1b1;
        }

        .information::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            background-color: black;
        }

        .information::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #b5b1b1;
        }

        .informationTable {
            border-radius: 5px;
            border: none;
            font-size: 15px;
            color: #ddd;
            overflow: auto;
            margin: 0px auto;
        }

        .informationTable tr {
            border-bottom: #999 1px dotted;
        }

        .informationTable td, .informationTable th {
            padding: 20px 6px;
            border-bottom: #999 1px dotted;
        }

        .buttonStyle {
            width: 90px;
            height: 35px;
            margin-top: 18px;
            background-color: transparent;
            color: #cfcfcf;
            font-size: 14px;
            border: 1px solid rgba(255, 255, 255, .2);
            cursor: pointer;
            transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
            vertical-align: middle;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #606060;
            overflow: hidden;
        }

        .buttonStyle:hover {
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(255, 255, 255, .1);
            color: #333;
            overflow: hidden;
        }

        .pagination a {
            display: inline-block;
            height: 33px;
            padding: 0px 13px;
            background: #000;
            line-height: 33px;
            text-align: center;
            min-width: 30px;
            font-size: 16px;
            text-decoration: none;
            color: #aaa;
        }

        .pagination a:hover, .pagination a.current {
            background: #999;
            color: #000;
            text-decoration: none;
        }

        ul.pagination li a.active {
            background-color: #999;
            color: #000;
            text-decoration: none;
        }
    </style>

    <script type="text/javascript">
        function DateSelector(selYear, selMonth, selDay) {
            this.selYear = selYear;
            this.selMonth = selMonth;
            this.selDay = selDay;
            this.selYear.Group = this;
            this.selMonth.Group = this;
            // 给年份、月份下拉菜单添加处理onchange事件的函数
            if (window.document.all != null) {
                this.selYear.attachEvent("onchange", DateSelector.Onchange);
                this.selMonth.attachEvent("onchange", DateSelector.Onchange);
            } else {
                this.selYear.addEventListener("change", DateSelector.Onchange, false);
                this.selMonth.addEventListener("change", DateSelector.Onchange, false);
            }
            if (arguments.length == 4) {// 如果传入参数个数为4，最后一个参数必须为Date对象
                this.InitSelector(arguments[3].getFullYear(), arguments[3].getMonth() + 1, arguments[3].getDate());
            } else if (arguments.length == 6) {
                //如果传入参数个数为6，最后三个参数必须为初始的年月日数值
                this.InitSelector(arguments[3], arguments[4], arguments[5]);
            } else {
                // 默认使用当前日期
                var dt = new Date();
                this.InitSelector(dt.getFullYear(), dt.getMonth() + 1, dt.getDate());
            }
        }

        // 增加一个最大年份的属性
        DateSelector.prototype.MinYear = 2000;

        // 增加一个最大年份的属性
        DateSelector.prototype.MaxYear = (new Date()).getFullYear();

        // 初始化年份
        DateSelector.prototype.InitYearSelect = function () {
            //循环添加OPION元素到年份select对象中
            for (var i = this.MaxYear; i >= this.MinYear; i--) {
                // 新建一个OPTION对象
                var op = window.document.createElement("OPTION");
                //设置OPTION对象的值
                op.value = i;
                //设置OPTION对象的内容
                op.innerHTML = i;
                //添加到年份select对象
                this.selYear.appendChild(op);
            }
        }

        // 初始化月份
        DateSelector.prototype.InitMonthSelect = function () {// 循环添加OPION元素到月份select对象中
            for (var i = 1; i < 13; i++) {// 新建一个OPTION对象
                var op = window.document.createElement("OPTION");
                //设置OPTION对象的值
                op.value = i;
                //设置OPTION对象的内容
                op.innerHTML = i;
                //添加到月份select对象
                this.selMonth.appendChild(op);
            }
        }

        // 根据年份与月份获取当月的天数
        DateSelector.DaysInMonth = function (year, month) {
            var date = new Date(year, month, 0);
            return date.getDate();
        }

        // 初始化天数
        DateSelector.prototype.InitDaySelect = function () {
            //使用parseInt函数获取当前的年份和月份
            var year = parseInt(this.selYear.value);
            var month = parseInt(this.selMonth.value);
            // 获取当月的天数
            var daysInMonth = DateSelector.DaysInMonth(year, month);
            //清空原有的选项
            this.selDay.options.length = 0;
            //循环添加OPION元素到天数select对象中
            for (var i = 1; i <= daysInMonth; i++) {
                // 新建一个OPTION对象
                var op = window.document.createElement("OPTION");
                //设置OPTION对象的值
                op.value = i;
                //设置OPTION对象的内容
                op.innerHTML = i;
                //添加到天数select对象
                this.selDay.appendChild(op);
            }
        }

        // 处理年份和月份onchange事件的方法，它获取事件来源对象（即selYear或selMonth）
        // 并调用它的Group对象（即DateSelector实例，请见构造函数）提供的InitDaySelect方法重新初始化天数
        //参数e为event对象
        DateSelector.Onchange = function (e) {
            var selector = window.document.all != null ? e.srcElement : e.target;
            selector.Group.InitDaySelect();
        }

        // 根据参数初始化下拉菜单选项
        DateSelector.prototype.InitSelector = function (year, month, day) {
            // 由于外部是可以调用这个方法，因此我们在这里也要将selYear和selMonth的选项清空掉
            // 另外因为InitDaySelect方法已经有清空天数下拉菜单，因此这里就不用重复工作了
            this.selYear.options.length = 0;
            this.selMonth.options.length = 0;
            // 初始化年、月
            this.InitYearSelect();
            this.InitMonthSelect();
            // 设置年、月初始值
            this.selYear.selectedIndex = this.MaxYear - year;
            this.selMonth.selectedIndex = month - 1;
            // 初始化天数
            this.InitDaySelect();
            // 设置天数初始值
            this.selDay.selectedIndex = day - 1;
        }
    </script>
</head>
<body style="background: #212121; overflow:hidden;">
<div style="text-align: center;overflow: hidden;">
    <h1 style="font-size: 30px; color:#ddd; overflow:hidden;">订单管理</h1>
    <!--                查询部分-->
    <form action="/showOrderList" id="scope" method="get" style="overflow:hidden;">
        <!--        <span class="intelligent-label f-fl" style="color:#fff; vertical-align:middle; font-size:17px;"><b class="ftx04">*</b>查询范围:</span>-->
        <span style="color:#fff; vertical-align:middle; font-size:20px;"><b class="ftx04">*</b>查询范围:</span>
        <select id="selectState" style="background-color:#212121; color: whitesmoke; border-radious:3px; width:200px; margin:20px 30px; vertical-align: middle; height:30px;"
                th:name="selectState"
                th:value="${selectState}">
            <option style="color: white;" value="toAccept">待接单</option>
            <option style="color: white;" value="toDeliver">待配送</option>
            <option style="color: white;" value="delivering">配送中</option>
            <option style="color: white;" value="completed">已完成 / 待评价</option>
        </select>
        <input class="buttonStyle" style="margin-top: 0px;vertical-align: middle;" type="submit" value="查询">
    </form>
    <!-- 			查询部分结束 -->
    <div th:switch="${selectState}" style="text-align: center;">
        <!-- 待接单部分 -->
        <form action="/receiveOrder" method="post" th:case="toAccept">
            <div class="information" style="height:400px; overflow: auto;">
                <table class="informationTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>订单ID</th>
                        <th>用户ID</th>
                        <th>收货人姓名</th>
                        <th>收货人地址</th>
                        <th>收货人电话</th>
                        <th>订单日期</th>
                        <th>订单状态</th>
                        <th>配送方法</th>
                        <th>订单信息</th>
                    </tr>
                    </thead>
                    <tr th:each="paid:${orders}">
                        <td width="40"><input name="paidOrder" th:value="${paid.orderID}"
                                              type="checkbox"></td>
                        <td th:text="${paid.getOrderID()}"></td>
                        <td th:text="${paid.getCustomerID()}"></td>
                        <td th:text="${paid.receiver.getrName()}"></td>
                        <td th:text="${paid.receiver.getAddress()}"></td>
                        <td th:text="${paid.receiver.getrTel()}"></td>
                        <td th:text="${paid.getDate()}"></td>
                        <td th:text="${paid.getState()}"></td>
                        <td th:text="${paid.getShipMethod()}"></td>
                        <td th:text="${paid.getOrderContent()}"></td>
                    </tr>
                </table>
            </div>
            <div aria-label="Page navigation" style="width:100%;text-align: center;display:inline-flex; overflow:hidden;" th:if="${hasOrders}"
                 th:unless="${searchDate}">
                <ul class="pagination" style="width:85%">
                    <li th:if="${hasStart}">
                        <a aria-label="Previous"
                           th:href="@{/showOrderList(pn=${startPage}-1, selectState=${selectState})}"
                           th:if="${hasStart}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page:${#numbers.sequence(startPage,endPage)}">
                        <a class="active"
                           th:href="@{/showOrderList(pn=${page}, selectState=${selectState})}"
                           th:if="${page==currentPage}"
                           th:text="${page}"></a>
                        <a th:href="@{/showOrderList(pn=${page}, selectState=${selectState})}"
                           th:if="${page!=currentPage}"
                           th:text="${page}"></a>
                    </li>
                    <li th:if="${hasEnd}">
                        <a aria-label="Next" th:href="@{/showOrderList(pn=${endPage}+1, selectState=${selectState})}"
                           th:if="${hasEnd}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <input class="buttonStyle" name="paid_submit" style="float: right;" type="submit" value="接单"/>
            </div>
        </form>
        <!-- 待接单部分结束 -->
        <!-- 待配送部分开始 -->
        <form action="deliverOrder" method="post" th:case="toDeliver">
            <div class="information">
                <table class="informationTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>订单ID</th>
                        <th>用户ID</th>
                        <th>收货人姓名</th>
                        <th>收货人地址</th>
                        <th>收货人电话</th>
                        <th>订单日期</th>
                        <th>订单状态</th>
                        <th>配送方法</th>
                        <th>订单项</th>
                    </tr>
                    </thead>
                    <tr th:each="receive:${orders}">
                        <td width="40"><input name="receiveOrder" th:value="${receive.getOrderID()}"
                                              type="checkbox"></td>
                        <td th:text="${receive.getOrderID()}"></td>
                        <td th:text="${receive.getCustomerID()}"></td>
                        <td th:text="${receive.receiver.getrName()}"></td>
                        <td th:text="${receive.receiver.getAddress()}"></td>
                        <td th:text="${receive.receiver.getrTel()}"></td>
                        <td th:text="${receive.getDate()}"></td>
                        <td th:text="${receive.getState()}"></td>
                        <td th:text="${receive.getShipMethod()}"></td>
                        <td th:text="${receive.getOrderContent()}"></td>
                    </tr>
                </table>
            </div>
            <div aria-label="Page navigation" style="width:100%;text-align: center;display:inline-flex; overflow:hidden;" th:if="${hasOrders}"
                 th:unless="${searchDate}">
                <ul class="pagination" style="width:85%">
                    <li th:if="${hasStart}">
                        <a aria-label="Previous"
                           th:href="@{/showOrderList(pn=${startPage}-1, selectState=${selectState})}"
                           th:if="${hasStart}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page:${#numbers.sequence(startPage,endPage)}">
                        <a class="active"
                           th:href="@{/showOrderList(pn=${page}, selectState=${selectState})}"
                           th:if="${page==currentPage}"
                           th:text="${page}"></a>
                        <a th:href="@{/showOrderList(pn=${page}, selectState=${selectState})}"
                           th:if="${page!=currentPage}"
                           th:text="${page}"></a>
                    </li>
                    <li th:if="${hasEnd}">
                        <a aria-label="Next" th:href="@{/showOrderList(pn=${endPage}+1, selectState=${selectState})}"
                           th:if="${hasEnd}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <input class="buttonStyle" name="receive_submit" style="float:right;" type="submit" value="配送"/>
            </div>
        </form>
        <!--  待配送部分结束-->
        <!-- 正在配送中开始 -->
        <div th:case="delivering" class="information">
            <table class="informationTable">
                <thead>
                <tr>
                    <th>订单ID</th>
                    <th>用户ID</th>
                    <th>收货人姓名</th>
                    <th>收货人地址</th>
                    <th>收货人电话</th>
                    <th>订单日期</th>
                    <th>订单状态</th>
                    <th>配送方法</th>
                    <th>订单项</th>
                </tr>
                </thead>
                <tr th:each="delivering:${orders}">
                    <td th:text="${delivering.getOrderID()}"></td>
                    <td th:text="${delivering.getCustomerID()}"></td>
                    <td th:text="${delivering.receiver.getrName()}"></td>
                    <td th:text="${delivering.receiver.getAddress()}"></td>
                    <td th:text="${delivering.receiver.getrTel()}"></td>
                    <td th:text="${delivering.getDate()}"></td>
                    <td th:text="${delivering.getState()}"></td>
                    <td th:text="${delivering.getShipMethod()}"></td>
                    <td th:text="${delivering.getOrderContent()}"></td>
                </tr>
            </table>
            <div aria-label="Page navigation" style="width:100%;text-align: center;display:inline-flex; overflow:hidden;" th:if="${hasOrders}"
                 th:unless="${searchDate}">
                <ul class="pagination" style="width:85%">
                    <li th:if="${hasStart}">
                        <a aria-label="Previous"
                           th:href="@{/showOrderList(pn=${startPage}-1, selectState=${selectState})}"
                           th:if="${hasStart}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page:${#numbers.sequence(startPage,endPage)}">
                        <a class="active"
                           th:href="@{/showOrderList(pn=${page}, selectState=${selectState})}"
                           th:if="${page==currentPage}"
                           th:text="${page}"></a>
                        <a th:href="@{/showOrderList(pn=${page}, selectState=${selectState})}"
                           th:if="${page!=currentPage}"
                           th:text="${page}"></a>
                    </li>
                    <li th:if="${hasEnd}">
                        <a aria-label="Next" th:href="@{/showOrderList(pn=${endPage}+1, selectState=${selectState})}"
                           th:if="${hasEnd}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 正在配送中结束 -->
        <!-- 已完成订单开始 -->
        <div th:case="completed">
            <table align="center">
                <!--                    日期查询-->
                <tr>
                    <td style="font-size: 20px; color:#ddd;">*查询日期:</td>
                    <td width="450px">
                        <form action="/searchOrders" method="POST" name="SearchOrders">

                            <select id="selYear" name="selYear"
                                    style="background-color:#212121; color: whitesmoke; border-radious:5px; width:70px; height:30px; margin:0px 10px;"></select>
                            <select id="selMonth" name="selMonth"
                                    style="background-color:#212121; color: whitesmoke; border-radious:5px; width:70px; height:30px; margin:0px 10px;"></select>
                            <select id="selDay" name="selDay"
                                    style="background-color:#212121; color: whitesmoke; border-radious:5px; width:70px; height:30px; margin:0px 10px;"></select>
                            <script type="text/javascript">
                                var selYear = window.document.getElementById("selYear");
                                var selMonth = window.document.getElementById("selMonth");
                                var selDay = window.document.getElementById("selDay");
                                var dt = new Date();
                                new DateSelector(selYear, selMonth, selDay, dt);
                            </script>
                            <input class="buttonStyle" style="vertical-align: center;margin-top: 0px;margin-left:10px;" id="search" type="submit" value="搜索">
                        </form>
                    </td>
                </tr>
            </table>
            <div class="information">
                <table class="informationTable">
                    <thead>
                    <!--                    thread 用来定义表头-->
                    <tr>
                        <th>订单ID</th>
                        <th>用户ID</th>
                        <th>收货人姓名</th>
                        <th>收货人地址</th>
                        <th>收货人电话</th>
                        <th>订单日期</th>
                        <th>订单状态</th>
                        <th>配送方法</th>
                        <th>订单项</th>
                    </tr>
                    </thead>
                    <tr th:each="finished:${orders}">
                        <td th:text="${finished.getOrderID()}"></td>
                        <td th:text="${finished.getCustomerID()}"></td>
                        <td th:text="${finished.receiver.getrName()}"></td>
                        <td th:text="${finished.receiver.getAddress()}"></td>
                        <td th:text="${finished.receiver.getrTel()}"></td>
                        <td th:text="${finished.getDate()}"></td>
                        <td th:text="${finished.getState()}"></td>
                        <td th:text="${finished.getShipMethod()}"></td>
                        <td th:text="${finished.getOrderContent()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div aria-label="Page navigation" style="width:100%;text-align: center;display:inline-flex; overflow:hidden;" th:if="${hasOrders}"
                 th:unless="${searchDate}">
                <ul class="pagination" style="width:85%">
                    <li th:if="${hasStart}">
                        <a aria-label="Previous"
                           th:href="@{/showOrderList(pn=${startPage}-1, selectState=${selectState})}"
                           th:if="${hasStart}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page:${#numbers.sequence(startPage,endPage)}">
                        <a class="active"
                           th:href="@{/showOrderList(pn=${page}, selectState=${selectState})}"
                           th:if="${page==currentPage}"
                           th:text="${page}"></a>
                        <a th:href="@{/showOrderList(pn=${page}, selectState=${selectState})}"
                           th:if="${page!=currentPage}"
                           th:text="${page}"></a>
                    </li>
                    <li th:if="${hasEnd}">
                        <a aria-label="Next" th:href="@{/showOrderList(pn=${endPage}+1, selectState=${selectState})}"
                           th:if="${hasEnd}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--            设置日期的分页导航开始-->
            <div th:if="${searchDate}">
                <div aria-label="Page navigation" style="width:100%;text-align: center" th:if="${hasOrders}">
                    <ul class="pagination">
                        <li th:if="${hasStart}">
                            <!--                            <a th:if="${hasStart}" th:href="@{/showOrderList(pn=${startPage}-1, selectState=${selectState})}" aria-label="Previous">-->
                            <a aria-label="Previous" th:if="${hasStart}"
                               th:onclick="'javascript:searchWithDate('+${startPage}-1+')'">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="page:${#numbers.sequence(startPage,endPage)}">
                            <a class="active" th:href="'javascript:searchWithDate('+${page}+')'"
                               th:if="${page==currentPage}"
                               th:text="${page}"></a>
                            <a th:href="'javascript:searchWithDate('+${page}+')'" th:if="${page!=currentPage}"
                               th:text="${page}"></a>
                        </li>
                        <li th:if="${hasEnd}">
                            <a aria-label="Next" th:href="'javascript:searchWithDate('+${endPage}+1+')'"
                               th:if="${hasEnd}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--            设置日期的分页导航结束-->

        </div>
        <!-- 已完成订单结束 -->

    </div>
</div>
</body>
<script th:inline="javascript" type="text/javascript">
    var message = [[${message}]];
    //等待页面加载
    if (message != null)
        alert(message);

    window.onload = function () {
        // 设置下拉框选项
        var selected = [[${selectState}]];
        // console.log(selected);

        if (selected != null) {
            var sel = document.getElementById("selectState");
            for (var i = 0; i <= sel.options.length; i++) {
                if (sel.options[i].value == selected) {
                    sel.options[i].selected = true;
                    break;
                }
            }
        }
    };

    /**
     * 设定了一定时间后进行搜索的跳页函数,post方法
     * @param pn
     */
    function searchWithDate(pn) {
        if (pn == parseInt([[${currentPage}]])) {
            return;
        }
        var selYear = [[${selYear}]];
        var selMonth = [[${selMonth}]];
        var selDay = [[${selDay}]];
        var temp = document.createElement("form");

        temp.action = "/searchOrders";
        temp.method = "post";
        temp.style.display = "none";

        var opt = document.createElement("textarea");
        opt.name = "selYear";
        opt.value = selYear;
        temp.appendChild(opt);
        opt = document.createElement("textarea");
        opt.name = "selMonth";
        opt.value = selMonth;
        temp.appendChild(opt);
        opt = document.createElement("textarea");
        opt.name = "selDay";
        opt.value = selDay;
        temp.appendChild(opt);
        opt = document.createElement("textarea");
        opt.name = "pn";
        opt.value = pn;
        temp.appendChild(opt);

        document.body.appendChild(temp);
        temp.submit();
    }
</script>
</html>