<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/admin/css/main.css"/>
    <title>Food Display</title>
    <style type="text/css">body {
        margin-bottom: 300px;
    }</style>
</head>
<style type="text/css">
    .pagination {
        padding: 40px 0;
        display: inline-block;
    }

    .pagination li {
        display: inline;
    }

    .pagination a {
        display: inline-block;
        height: 33px;
        padding: 0px 13px;
        background: #000;

        line-height: 33px;
        text-align: center;
        min-width: 30px;
        font-size: 16px;
        color: #aaa;
    }

    .pagination a:hover, .pagination a.current {
        background: #999;
        color: #000;
    }

    ul.pagination li a.active {
        background-color: #999;
        color: #000;
    }
</style>
<body>
<div class="main">
    <div class="main-content">
        <div class="container-fluid">
            <h1 class="page-title">菜品管理</h1>
            <table>
                <tr>
                    <td>
                        <form action="/admin/food/foodSearch" method="get">
                            <div align="center">
                                &nbsp; <label> </label> <label> 输入菜品名称: <input
                                    type='text' name='info' value=''/>
                            </label> <label> &nbsp; <input type="submit" value="查询"/>

                            </label>
                                <br/>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="/admin/food/turnFoodAdd">
                            <input type="submit" value="添加菜品">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="panel-body" style="height: 560px; overflow-y:scroll">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">菜品列表</h3>
                    </div>
                    <br/>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>菜名</th>
                                <th>菜品子名字</th>
                                <th>图片展示</th>
                                <th>价格</th>
                                <th>描述</th>
                                <th>操作</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="food:${foodList}">
                                <!--                                <td>${food.foodID}</td>-->
                                <td th:text="${food.getFoodId()}"></td>
                                <td th:text="${food.getFdName()}"></td>
                                <td th:text="${food.getFdSubname()}"></td>
                                <input type="hidden" th:value="${food.getFdImage()}" name="foodIm">
                                <td><img th:src="'/foodImage/'+${food.getFdImage()}" width=200px height=200px></td>

                                <td th:text="'￥'+${food.getFdPrice()}"></td>

                                <td th:text="${food.getFdDescription()}"></td>

                                <td>
                                    <form style="align: center; background-color: gray"
                                          action="/admin/food/turnFoodEdit">
                                        <input type="hidden" name="oldFoodId" th:value="${food.getFoodId()}">
                                        <input type="submit" value="修改">
                                    </form>

                                </td>
                                <form action="/admin/food/foodDelete">
                                    <td>
                                        <input type="hidden" name="fId" th:value="${food.getFoodId()}">
                                        <input type="submit" value="删除">
                                    </td>
                                </form>
                                <form action="/admin/food/turnCategoryEdit" method="get">
                                    <td>
                                        <input type="hidden" name="food" th:value="${food.getFoodId()}">
                                        <input type="submit" value="编辑类别">
                                    </td>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${hasFood}" aria-label="Page navigation" style="width:100%;text-align: center">
                        <ul class="pagination">
                            <li th:if="${hasStart}">
                                <a th:if="${hasStart}" th:href="@{/admin/food/foodDisplay(pn=${startPage}-1)}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:each="page:${#numbers.sequence(startPage,endPage)}">
                                <a th:href="@{/admin/food/foodDisplay(pn=${page})}" th:if="${page==currentPage}"
                                   class="active"
                                   th:text="${page}"></a>
                                <a th:href="@{/admin/food/foodDisplay(pn=${page})}" th:if="${page!=currentPage}"
                                   th:text="${page}"></a>
                            </li>
                            <li th:if="${hasEnd}">
                                <a th:if="${hasEnd}" th:href="@{/admin/food/foodDisplay(pn=${endPage}+1)}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>