<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="templets/cloud_04/style/lib.css" />
    <link rel="stylesheet" type="text/css"
          href="templets/cloud_04/style/style.css" />
    <link rel="stylesheet" type="text/css"
          href="templets/cloud_04/style/376.css" />
    <script type="text/javascript"
            src="templets/cloud_04/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="templets/cloud_04/js/org.js"
            data-main="baseMain"></script>
    <title>评价订单-网上订单系统</title>
</head>
<body class="nobanner">
<!--替代jsp:include-->
<div th:replace="banner.html"></div>
<div id="sitecontent">
    <div class="npagePage Pageanli" id="mproject">
        <div class="content">
            <div class="header" id="plheader">
                <p class="title">评价</p>
                <p class="subtitle">Assess</p>
            </div>

            <div class="clear"></div>
            <div id="pages"></div>
        </div>
    </div>
</div>
<div th:replace="footer.html"></div>
<script type="text/javascript">

</script>
</body>
</html>