<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript">
        try {
            if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                window.location.href = "m/orderList.jsp";
            }
        } catch (e) {
        }
    </script>
    <link rel="stylesheet" type="text/css"
          href="templets/cloud_04/style/lib.css" />
    <link rel="stylesheet" type="text/css"
          href="templets/cloud_04/style/style.css" />
    <link rel="stylesheet" type="text/css"
          href="templets/cloud_04/style/376.css" />
    <script type="text/javascript"
            src="templets/cloud_04/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="templets/cloud_04/js/org.js"
            data-main="baseMain"></script>
    <title>菜品-网上订单系统</title>
</head>
<body class="nobanner">
<!--替代jsp:include-->
<div th:replace="banner.html"></div>
<div id="sitecontent">
    <div class="npagePage Pageanli" id="mproject">
        <div class="content">
            <div class="header" id="plheader">
                <p class="title">我的订单</p>
                <p class="subtitle">My Orders</p>
            </div>
            <div id="showOrders">
                <table>
                    <tr id="line1">
                        <th>商品</th>
                        <th>价格</th>
                        <th>收件人</th>
                        <th>时间</th>
                        <th>交货方式</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr th:each="order:${orders}">
                        <tr id="otherLine">
                            <td><table>
                                    <tr th:each="lineItem:${order.lineItems}">
                                        <td>${lineItem.name} × ${lineItem.amount}</td>
                                    </tr>
                            </table></td>
                            <td><table>
                                    <tr th:each="lineItem:${order.lineItems}">
                                        <td>${lineItem.totalPrice}</td>
                                    </tr>
                            </table></td>
                            <td>${order.receiver.name}</td>
                            <td>${order.date}</td>
                            <td>${order.shipMethod}</td>
                            <td id="state">${order.state}</td>

                            <td th:switch="${order.state}">
                                <form th:case="未付款" action="./CancelOrder" method="post" onsubmit="return cancelForm();">
                                    <input type="hidden" name="orderID" value="${order.orderID}" />
                                    <input id="pay" type="submit" value="立即付款" />
                                </form>
                                <form th:case="已付款" action="./CancelOrder" method="post" onsubmit="return cancelForm();">
                                    <input type="hidden" name="orderID" value="${order.orderID}" />
                                    <input class="cancel" type="submit" value="取消订单" />
                                </form>
                                <form th:case="已接单" action="./CancelOrder" method="post" onsubmit="return cancelForm();">
                                    <input type="hidden" name="orderID" value="${order.orderID}" />
                                    <input class="cancel" type="submit" value="取消订单" />
                                </form>
                                <form th:case="正在配送" action="./CancelOrder" method="post" onsubmit="return cancelForm();">
                                    <input type="hidden" name="orderID" value="${order.orderID}" />
                                    <input id="finish" type="submit" value="确认收货" />
                                </form>
                                <form th:case="待评价" action="./CancelOrder" method="post" onsubmit="return cancelForm();">
                                    <input type="hidden" name="orderID" value="${order.orderID}" />
                                    <input id="comment" type="submit" value="立即评价" />
                                </form>
                            </td>
                        </tr>
                    </tr>

                </table>
            </div>
            <div class="clear"></div>
            <div id="pages"></div>
        </div>
    </div>
</div>
<div th:replace="footer.html"></div>
<script type="text/javascript">
    function cancelForm() {
        var ask = confirm("是否取消改订单？");
        if (ask == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>