<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<link rel="stylesheet" type="text/css"
th:href="@{{APP_PATH}/templets/cloud_04/style/lib.css(APP_PATH=${APP_PATH})}"/>
<link rel="stylesheet" type="text/css"
  th:href="@{{APP_PATH}/templets/cloud_04/style/style.css(APP_PATH=${APP_PATH})}"/>
  <link rel="stylesheet" type="text/css"
    th:href="@{{APP_PATH}/templets/cloud_04/style/376.css(APP_PATH=${APP_PATH})}"/>
    <script type="text/javascript"
      th:src="@{{APP_PATH}/templets/cloud_04/js/jquery-1.11.3.min.js(APP_PATH=${APP_PATH})}"></script>
    <script type="text/javascript"
      th:src="@{{APP_PATH}/templets/cloud_04/js/org.js(APP_PATH=${APP_PATH})}" data-main="baseMain"></script>
      
	<link rel="stylesheet" type="text/css" th:href="@{{APP_PATH}/customer/css/main.css(APP_PATH=${APP_PATH})}"/>
<title>Insert title here</title>
</head>
<body class="nobanner">
<div th:replace="banner.html"></div>
	<div id="sitecontent">
		<div class="npagePage">
			<div class="content">
				<div style="width: 15%;float:left;border-right:1px solid rgba(255, 255, 255, .1)"  th:include="customer/left.html"frameborder="no" border="0"></div>
				<div style="width: 82%;float:right;" th:include="customer/customerMain.html" frameborder="no" border="0"></div>
			</div>
		</div>
	</div>
<div th:replace="footer"></div>

</body>
</html>