<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{{APP_PATH}/customer/css/main.css(APP_PATH=${APP_PATH})}">
    <title>left</title>
    <style type="text/css">
        a {
            text-decoration: none;
        }
    </style>
</head>
<body style="background:transparent;">
<!-- LEFT SIDEBAR -->
<br/>
<br/>
<br/>
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a href="/customerMain" target="rightFrame">
                        <i class="lnr lnr-code"></i>
                        <span>个人信息</span>
                    </a>
                </li>
                <br>
                <li>
                    <a href="/modifyPassword" target="rightFrame">
                        <i class="lnr lnr-chart-bars"></i>
                        <span>修改密码</span>
                    </a>
                </li>
                <br>
                <li>
                    <a href="/editCustomer" target="rightFrame">
                        <i class="lnr lnr-chart-bars"></i>
                        <span>修改信息</span>
                    </a>
                </li>
                <br>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
</body>
</html>