<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../static/customer/css/main.css">
<title>left</title>
<style type="text/css">
a{
	text-decoration:none;
}
</style>
</head>
<body style="background:transparent;">
<!-- LEFT SIDEBAR -->
				<br/>
				<br/>
				<br/>
	<div id="sidebar-nav" class="sidebar" >
		<div class="sidebar-scroll">
			<nav>
				<ul class="nav">
					<li><a href="customerMain.jsp" target="rightFrame"><i class="lnr lnr-code"></i> <span>个人信息</span></a></li>
					<br>
					<li><a href="modifyPassword.jsp" target="rightFrame"><i class="lnr lnr-chart-bars"></i> <span>修改密码</span></a></li>
					<br>
					<li><a href="editCustomer.jsp" target="rightFrame"><i class="lnr lnr-chart-bars"></i> <span>修改信息</span></a></li>
					<br>
				</ul>
			</nav>
		</div>
	</div>
<!-- END LEFT SIDEBAR -->
</body>
</html>