<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/admin/css/main.css" />
	<title>Category Display</title>
	<style type="text/css">body {margin-bottom:300px;}</style>
</head>

<script type="text/javascript" th:inline="javascript">
	var message = [[${error}]];
	//等待页面加载
	if(message != null)
		alert(message);
</script>

<style type="text/css">
	.pagination {
		padding: 40px 0;
		display: inline-block;
	}

	.pagination li {
		display: inline;
	}

	.pagination a {
		display: inline-block;
		height: 33px;
		padding: 0px 13px;
		background: #000;

		line-height: 33px;
		text-align: center;
		min-width: 30px;
		font-size: 16px;
		color: #aaa;
	}

	.pagination a:hover, .pagination a.current {
		background: #999;
		color: #000;
	}

	ul.pagination li a.active {
		background-color: #999;
		color: #000;
	}
</style>

<body>
<div class="main">
	<div class="main-content">
		<div class="container-fluid">
			<h1 class="page-title">菜品类别管理</h1>
			<div class="row">
				<div class="panel-body" style="height: 560px; overflow-y:scroll">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">菜品类别</h3>
						<br />
						<form th:action="@{'/admin/category/categoryAdd'}" accept-charset="UTF-8" onsubmit="document.charset='UTF-8';">
							<input type="submit" value="添加菜品类别">
						</form>
						<br /> <br />
					</div>
					<div class="panel-body">
						<table class="table">
							<thead>
							<tr>
								<td><b>ID</b></td>
								<td><b>类别名</b></td>
								<td><b>修改</b></td>
								<td><b>删除</b></td>
							</tr>
							</thead>
							<tbody>
							<tr th:each="category:${categoryList}">
								<td th:text="${category.getCategoryId()}"></td>
								<td th:text="${category.getCategoryName()}"></td>
								<td>
									<form style="align: center; background-color: gray" th:action="@{'/changeCategoryName'}" method="get" >
										<input type="hidden" name="id" th:value="${category.getCategoryId()}">
										<input type="text" name="categoryName" size="15">
										<input type="submit" value="修改类名">
									</form>
								</td>
								<td>
									<form th:action="@{'/deleteCategory'}" method="get">
										<input type="hidden" name="id2" th:value="${category.getCategoryId()}">
										<input type="submit" value="删除">
									</form>
								</td>
							</tr>
							</tbody>
						</table>
					</div>

					<div aria-label="Page navigation" style="width:100%;text-align: center">
						<ul class="pagination">
							<li th:if="${pageInfo.navigateFirstPage > 1}">
								<a th:href="@{/admin/CategoryDisplay(pn=${pageInfo.pageNum}-1)}"
								   aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li th:each="page:${pageInfo.navigatepageNums}">
								<a th:href="@{/admin/CategoryDisplay(pn=${page})}" th:if="${page==pageInfo.pageNum}"
								   class="active"
								   th:text="${page}"></a>
								<a th:href="@{/admin/CategoryDisplay(pn=${page})}" th:if="${page!=pageInfo.pageNum}"
								   th:text="${page}"></a>
							</li>
							<li th:if="${pageInfo.pages > pageInfo.navigateLastPage}">
								<a th:href="@{/admin/CategoryDisplay(pn=${pageInfo.pageNum}+1)}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>