<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adgwr.online.ordering.system.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.adgwr.online.ordering.system.domain.Customer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="c_id" jdbcType="VARCHAR" property="cId" />
    <result column="c_tel" jdbcType="VARCHAR" property="cTel" />
    <result column="c_password" jdbcType="VARCHAR" property="cPassword" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
</mapper>