<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adgwr.online.ordering.system.mapper.LineitemMapper">
  <resultMap id="BaseResultMap" type="com.adgwr.online.ordering.system.domain.Lineitem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <id column="food_id" jdbcType="INTEGER" property="foodId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
  </resultMap>

  <sql id="Base_Column_List_foodId" >
    order_id,food_id,amount,total_price
  </sql>
  <select id="getLineItemByFoodId" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List_foodId" />
  from lineitem
  where food_id = #{foodId,jdbcType=INTEGER}
  </select>

  <sql id="Base_Column_List_orderId" >
    order_id,food_id,amount,total_price
  </sql>
  <select id="getLineItemByOrderId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_orderId" />
    from lineitem
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
</mapper>